<!DOCTYPE html>
<html>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4 col-md-offset-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Task Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
  <div class="modal fade" id="modal"></div>
<% else %>
  <div class = "center jumbotron">
    <h1>Welcome to the Todo App</h1>
    <h2>
      This is the home page for the sample todo application.
    </h2>
    
    <%= link_to "Sign up now", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
</html>