<div class="container">
  <% if current_user.tasks.any? %>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Created at</th>
        <th>Completed</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>
          <li id="task-<%= task.id %>">
            <%= task.title %>
          </li>
        </strong></td>
        <td class="text-info">
          <%= task.created_at %>
        </td>
        <td class="text-success">
          <%= task.completed %>
        </td>
        <td>
          <% if current_user?(task.user) %>
            <%= link_to task_path(task), method: :delete, data: { confirm: "Are you sure?"} do %>
              <i class="glyphicon glyphicon-remove"></i>
            <% end %>
            <%= link_to edit_task_path(task), remote: true do %>
              <i class="glyphicon glyphicon-edit"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  <% else %>
  <span class="text-warning">There are no tasks!</span>
  <% end %>
</div>

