<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1>
        <%= task.new_record? ? 'New Task' : "Editing task" %>
      </h1>
    </div>
    <%= simple_form_for task, class: 'clearfix' do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="modal-body">
      <%= f.input :title %>
      <%= f.input :content %>
      <%= f.input :completed, as: :string, input_html: { class: 'datepicker', value: task.completed.present? ? localize(task.completed, format: '%d/%m/%Y') : nil } %>
    </div>
    <div class="modal-footer">
      <%= f.submit 'Save', class: 'btn btn-primary' %>
    </div>
    <% end %>
  </div>
</div>
