<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4 col-md-offset-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <%= link_to 'New task', new_task_path, class: 'btn btn-primary', remote: true %>
    </section>
  </aside>
  <div class="col-md-8">
      <h3>Tasks (<%= @user.tasks.count %>)</h3>
      <ol class="tasks">
        <%= render @task %>
      </ol>
      <%= will_paginate @tasks %>
  </div>
</div>
<div class="modal fade" id="modal"></div>